# ./pocketo-config/.env
BLUE_HOST_PORT=
GREEN_HOST_PORT=
SERVER_PORT=
COMPOSE_PROFILES=

# ./pocketo-config/.env.app
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
LOGGING_FILE_PATH=

# ./pocketo-config/.env.db
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# ./pocketo-config/.env.cache
